module {{.Config.Project.Module}}

go {{.GoVersion}}
{{if .GoToolchain}}
toolchain {{.GoToolchain}}
{{end}}
{{if .Config.API.Enabled}}{{if eq .Config.API.Router "chi"}}require github.com/go-chi/chi/v5 v5.3.0
{{else if eq .Config.API.Router "echo"}}require github.com/labstack/echo/v4 v4.15.4
{{end}}{{end}}
{{if .Config.OpenAPI.Enabled}}require (
	github.com/getkin/kin-openapi v0.146.0
	github.com/google/uuid v1.6.0
	{{if eq .Config.API.Router "echo"}}github.com/oapi-codegen/echo-middleware v1.0.2
{{else}}github.com/oapi-codegen/nethttp-middleware v1.2.0
{{end}}	github.com/oapi-codegen/runtime v1.6.0
)
{{end}}{{if and .Config.Database.Enabled (eq .Config.Database.CodeGeneration "sqlc")}}
require github.com/jackc/pgx/v5 v5.10.0
{{end}}{{if and .Config.Database.Enabled (eq .Config.Database.CodeGeneration "gorm")}}
require (
	gorm.io/driver/postgres v1.6.0
	gorm.io/gorm v1.31.2
)
{{end}}{{if or (eq .Preset.Name "production-api") (eq .Preset.Name "event-driven-api")}}
require (
	github.com/golang-jwt/jwt/v5 v5.3.1
	github.com/prometheus/client_golang v1.23.2
	go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp v0.70.0
	go.opentelemetry.io/otel v1.45.0
	go.opentelemetry.io/otel/exporters/otlp/otlptrace/otlptracegrpc v1.45.0
	go.opentelemetry.io/otel/sdk v1.45.0
	golang.org/x/crypto v0.54.0
	golang.org/x/time v0.12.0
)
{{end}}
{{if eq .Preset.Name "event-driven-api"}}
require (
	github.com/redis/go-redis/v9 v9.12.1
	github.com/twmb/franz-go v1.20.4
)
{{end}}
