package auth

import "golang.org/x/crypto/bcrypt"

type BcryptVerifier struct{}
func (BcryptVerifier) Compare(hash, password string) error { return bcrypt.CompareHashAndPassword([]byte(hash), []byte(password)) }
func HashPassword(password string) (string,error) { value,err:=bcrypt.GenerateFromPassword([]byte(password),bcrypt.DefaultCost);return string(value),err }
